certifi==2021.10.8
chardet==3.0.4
Django==2.2
hs-test-python @ https://github.com/hyperskill/hs-test-python/archive/release.tar.gz
idna==2.10
psutil==5.9.0
pytz==2021.3
requests==2.25.0
sqlparse==0.4.2
urllib3==1.26.8
